/* Styles for modals and popovers */
:not(.mod-windows) .prompt,
:not(.mod-windows) .popover,
:not(.mod-windows) .suggestion,
:not(.mod-windows) .graph-controls,
:not(.mod-windows) .lt-predictions-container,
:not(.mod-windows) .vertical-tab-content {
    background-color: var(--modal-background) !important;
}

/* Add blur to modals - disabled for mobile performance */
.modal {
    background-color: var(--modal-background);
}

.modal-bg {
    background-color: rgba(0, 0, 0, 0.3);
}
