body {
    /* Typography */
    --line-height-normal: 1.6;
    --line-height-theme: 1.6;

    /* Links */
    --link-decoration: underline;
    --link-unresolved-decoration-style: dotted;
    --link-unresolved-decoration-color: var(----link-unresolved-color);


    /* Blockquotes */
    --blockquote-border-color: var(--purple);
    --blockquote-color: var(--purple);


    /* Workspace & Modal Backgrounds */

    --modal-background: var(--background-primary);

    /* Dividers */
    --divider-color: transparent !important;
}
