body {
  /* Typography */
  --line-height-normal: 1.6;
  --line-height-theme: 1.6;

  /* Links */
  --link-decoration: underline;
  --link-unresolved-decoration-style: dotted;
  --link-unresolved-decoration-color: var(----link-unresolved-color);


  /* Blockquotes */
  --blockquote-border-color: var(--text-muted);
  --blockquote-color: var(--text-muted);


  /* Workspace & Modal Backgrounds */

  --modal-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-primary);

  /* Dividers */
  --divider-color: transparent !important;
}

@media (min-width: 769px) {
  :not(.mod-windows).theme-dark {
    --background-primary: transparent;
  }
}
