/* ========== LEVEL 1 ========== */
/* Большая точка */
ul:not(li > *) > li > .list-bullet::after,
.HyperMD-list-line-1 .list-bullet::after {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: var(--list-marker-color);
}

/* ========== LEVEL 2 ========== */
/* Пустой кружок */
ul:not(li > *) > li > ul > li > .list-bullet::after,
.HyperMD-list-line-2 .list-bullet::after {
	height: 6px;
	width: 6px;
	background-color: transparent;
	border: 2px solid var(--list-marker-color);
	border-radius: 50%;
}

/* ========== LEVEL 3 ========== */
/* Ромб ◈ */
ul:not(li > *) > li > ul > li > ul > li > .list-bullet::after,
.HyperMD-list-line-3 .list-bullet::after {
	content: "◈";
	height: unset;
	width: unset;
	background-color: transparent;
	color: var(--list-marker-color);
	margin-top: 3px;
}

/* ========== LEVEL 4 ========== */
/* Маленькая точка */
ul:not(li > *) > li > ul > li > ul > li > ul > li > .list-bullet::after,
.HyperMD-list-line-4 .list-bullet::after {
	height: 2px;
	width: 8px;
	border-radius: 0;
	background-color: var(--list-marker-color);
}

/* ========== LEVEL 5 ========== */
/* Квадрат */
ul:not(li > *) > li > ul > li > ul > li > ul > li > ul > li > .list-bullet::after,
.HyperMD-list-line-5 .list-bullet::after {
	height: 5px;
	width: 5px;
	border-radius: 0;
	background-color: var(--list-marker-color);
}

